body {
	background-color: #CCCCFF;
	font-size: 1.1em;
}
.content {
	background-color: #FFFFFF;
	border-color: #000000;
	border: outset;
	border-width: 2px;
	width: 80%;
	margin: auto;
	border-radius: 20px;
}
.menu {
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
	font-weight: bold;
	background-color: #FFFFCC;
}
.menu_link, .menu_link_selected {
	margin-left: 5px;
	text-decoration: underline;
	font-size: 1.2em;
	color: #990000;
}
.menu_link:hover, .menu_link_selected:hover {
	color: #9900CC;
}
/* Комментарий */
.menu_link_selected {
	background-color: #CCFF00;
}
/* Комментарий */
H1 {
	font-size: 1.5em;
}
H1, P, IMG, LI {
	text-align: justify;
	margin-left: 2%;
	margin-right: 2%;
	line-height: 1.25;
}

@media (min-width: 800px)
{
	.qr_block
	{
		display: flex;
	}
}

@media (max-width: 800px)
{
	.qr_block
	{
		display: inline;
	}
}

PRE {
	max-height: 300px;
}

.code {
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 5px;
	background-color: #666666;
}

.code_header {
	margin-bottom: -1%;
	font-weight: bold;
	padding: 10px;
}
