.content {
	background-color: #FFFFFF;
	border-color: lightgrey;
}

a {
	color: #000099;
}

.image_zoom_div {
	background-color: rgba(127, 127, 127, .5);
}

.dark body {
	background-color: black;
	color: white;
}

.dark .content {
	background-color: black;
	border-color: darkgrey;
	color: white;
}

.dark a {
	color: violet;
}

.dark .image_zoom_div {
	background-color: rgba(0, 0, 0, 0.8);
}

html {
  scroll-behavior: smooth;
}

body {
	background-color: #000000;
	font-size: 1.1em;
	background-image: url("/assets/images/background2.jpg");
}

.content {
	border-style: solid;
	border-width: 2px;
	width: 80%;
	margin: auto;
	border-radius: 20px;
	max-width: 1600px;
	min-height: 700px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.header {
	height: 200px;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: 0%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: #000000;
	background-image: url("/assets/images/200x1600.jpg");
	background-size: cover;
}

.content_overflow {
  margin-left: 2%;
  margin-right: 2%;
  font-size: 0.8em;
  text-align: center;
  background-color: rgba(150, 150, 150, .1);
  line-height: 1.25;
  max-width: 98%;
}

.footer {
  min-height: 20px;
  height: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu {
	margin-left: 2%;
	margin-right: 2%;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	background-color: #cde0f0;
}

.menu_link, .menu_link_selected {
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	height: 30px;
	padding: 5px;
	text-decoration: none;
	font-size: 1.2em;
	background-color: #cde0f0;
	color: #400000;
}

.dark .menu_link, .dark .menu_link_selected {
	color: #400000;
}

.menu_link:hover, .menu_link_selected:hover {
	text-decoration: underline;
}

.menu_link_selected {
	background-color: #809FDB;
}

.content img.zoomable {
  cursor: zoom-in;
  text-align: center;
}

.zoom_me {
  font-size: 0.8em;
  text-align: center;
  background-color: rgba(150, 150, 150, .1);
  margin-left: 2%;
	margin-right: 2%;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.25;
  max-width: 98%;
}

.zoom_me_out {
  font-size: 0.8em;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  line-height: 1.25;
  font-size: 1em;
}

.image_zoom, .image_zoom_preload {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  max-width: 90%;
  max-height: 90%;
  cursor: zoom-out;
  visibility: hidden;
}

.image_zoom_open_url {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  background-color: #d3d3d3;
  color: #000000;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 3%;
  border-radius: 5px;
}

.dark .image_zoom_open_url {
  background-color: #2b2a2a;
  color: #FFFFFF;
}

.image_zoom_div {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  visibility: hidden;
}

H1 {
	font-size: 1.5em;
}
H2 {
	font-size: 1.3em;
}
H1, H2, P, IMG, LI {
	text-align: justify;
	margin-left: 2%;
	margin-right: 2%;
	line-height: 1.25;
}

.blog H2, .blog  P {
  margin-left: 0%;
  margin-right: 0%;
}

@media (min-width: 800px) {
	.qr_block {
		display: flex;
	}
}

@media (max-width: 800px) {
  .main_content {
    overflow:scroll;
    overflow-y: auto;
    transform: rotateX(180deg);
  }
  .main_content_child {
    transform: rotateX(180deg);
  }
	.qr_block	{
		display: inline;
	}
}

img
{
	max-width: 98%;
}

.to_top {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

PRE, code {
	max-height: 300px;
}

.code {
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 5px;
	background-color: #b9b3b3;
}

.code a:link {
  color: #000000;
	text-decoration: none;
}

.code a:visited {
  color: #000000;
	text-decoration: none;
}

.code a:hover {
	color: #000000;
	text-decoration: underline;
}

.code_header {
	margin-bottom: -0.5%;
	font-weight: bold;
	padding: 10px;
}

.code_lines_hide {
	visibility: hidden;
	height: 0px;
}

.code_lines_show {
	visibility: visible;
}

/* xuexihanzi_js page */
.images_row {
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
}