body {
	overflow-x: hidden;
}

.content {
	background-color: #FFFFFF;
	border-color: lightgrey;
}

a {
	color: #000099;
}

.image_zoom_div {
	background-color: rgba(127, 127, 127, .5);
}

.dark body {
	background-color: black;
	color: white;
}

.dark .content {
	background-color: black;
	border-color: darkgrey;
	color: white;
}

.dark a {
	color: violet;
}

.dark .image_zoom_div {
	background-color: rgba(0, 0, 0, 0.8);
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #000000;
	font-size: 1.1em;
	background-image: url("/assets/images/background2.jpg");
}

.content {
	border-style: solid;
	border-width: 2px;
	width: 80%;
	margin: auto;
	border-radius: 20px;
	max-width: 1600px;
	min-height: 700px;
  	overflow-wrap: break-word;
	word-wrap: break-word;
}

.header {
	height: 200px;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: 0%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: #000000;
	background-image: url("/assets/images/200x1600.jpg");
	background-size: cover;
}

.content_overflow, .failed_to_load {
	margin-left: 2%;
	margin-right: 2%;
	font-size: 0.8em;
	text-align: center;
	background-color: rgba(150, 150, 150, .1);
	line-height: 1.25;
	max-width: 98%;
}

.failed_to_load {
	color: red;
	font-weight: bold;
}

.footer {
	min-height: 20px;
	height: 20px;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline double;
}

.menu {
	margin-left: 2%;
	margin-right: 2%;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	background-color: #cde0f0;
}

.menu_link, .menu_link_selected {
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	height: 30px;
	padding: 5px;
	text-decoration: underline;
	font-size: 1.2em;
	background-color: #cde0f0;
	color: #400000;
}

.dark .menu_link, .dark .menu_link_selected {
	color: #400000;
}

.menu_link:hover, .menu_link_selected:hover {
	text-decoration: underline double;
}

.menu_link_selected {
	background-color: #809FDB;
}

.content img.zoomable {
	text-align: center;
}

.zoom_me, .zoom_me_gallery {
	font-size: 0.8em;
	text-align: center;
	background-color: rgba(150, 150, 150, .1);
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 1.25;
	max-width: 98%;
}

.dark .zoom_me, .dark .zoom_me_gallery {
	background-color: rgba(150, 150, 150, 0.2);
}

.zoom_me_hide {
	visibility: hidden;
	line-height: 0.0;
}

.zoom_me_hide_loading {
	visibility: hidden;
	line-height: 0.0;
}

.zoom_me_gallery {
	visibility: hidden;
	margin-bottom: 0px;
	line-height: 0.0;
}

@media (hover: none) {
	.zoom_me_hide {
		visibility: visible;
		line-height: 1.25;
	}
	.zoom_me_hide_loading {
		visibility: hidden;
		line-height: 0.0;
	}
	.zoom_me_gallery {
		visibility: visible;
		margin-bottom: 10px;
		line-height: 1.25;
	}
}

.zoom_me_out {
	position: absolute;
	top: 0px;
	right: 20px;
	background-color: #2b2a2a;
	color: #FFFFFF;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	height: 3%;
	border-radius: 5px;
	margin: 0px;
	white-space: nowrap;
	white-space: pre;
}

.dark .zoom_me_out {
	background-color: #2b2a2a;
	color: #FFFFFF;
}

.image_zoom, .image_zoom_preload {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	margin: 0px;
	max-width: 90%;
	max-height: 90%;
	visibility: hidden;
}

.image_zoom_open_url {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-o-transform: translate(-50%);
	background-color: #2b2a2a;
	color: #FFFFFF;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	height: 3%;
	border-radius: 5px;
	margin: 0px;
	white-space: nowrap;
	white-space: pre;
}

.dark .image_zoom_open_url {
	background-color: #2b2a2a;
	color: #FFFFFF;
}

.image_zoom_div {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0px;
	max-width: 100vw;
	max-height: 100vh;
	visibility: hidden;
	overflow: hidden;
}

.image_loading_spinner {
	position: absolute; 
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	visibility: hidden;
}

H1 {
	font-size: 1.5em;
}
H2 {
	font-size: 1.3em;
}
H3 {
	font-size: 1.1em;
}
H1, H2, H3, P, IMG, LI, .images_row, .qr_block {
	text-align: justify;
	margin-left: 2%;
	margin-right: 2%;
	line-height: 1.25;
}

.blog H2, .blog H3, .blog  P {
	margin-left: 0%;
	margin-right: 0%;
}

.qr_block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media (max-width: 800px) {
	.main_content {
		overflow:scroll;
		overflow-y: auto;
		transform: rotateX(180deg);
		-webkit-transform: rotateX(180deg);
		-moz-transform: rotateX(180deg);
		-o-transform: rotateX(180deg);
	}
	.main_content_child {
		transform: rotateX(180deg);
		-webkit-transform: rotateX(180deg);
		-moz-transform: rotateX(180deg);
		-o-transform: rotateX(180deg);
	}
}

img
{
	max-width: 98%;
}

.to_top {
	position: fixed;
	float: left;
	bottom: 0px;
	margin-left: 0px;
	visibility: hidden;
}

PRE, code {
	max-height: 300px;
}

.code {
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 5px;
	background-color: #b9b3b3;
}

.code a:link {
	color: #000000;
	text-decoration: underline;
}

.code a:visited {
	color: #000000;
	text-decoration: underline;
}

.code a:hover {
	color: #000000;
	text-decoration: underline double;
}

.code_header {
	margin-bottom: -0.5%;
	font-weight: bold;
	padding: 10px;
}

.code_lines_hide {
	visibility: hidden;
	height: 0px;
}

.code_lines_show {
	visibility: visible;
}

/* xuexihanzi_js page */
.images_row {
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.swich_theme_link {
	background-color: rgba(57, 57, 57, 0.8); 
	color: white; 
	position: absolute; 
	top: 10px; 
	left: 10px; 
	height: 30px; 
	padding: 5px;
	border-radius: 5px;
}

.dark .swich_theme_link {
	background-color: rgba(57, 57, 57, 0.8); 
	color: white; 
}

.content_table {
	position: fixed;
	float: left;
	top: 5px;
	left: 0px;
	width: 80%;
	max-width: 500px;
	visibility: visible;
}

.content_table_collapse {
	position: fixed;
	float: left;
	top: 5px;
	left: 0px;
	visibility: hidden;
}

.content_table_right {
	white-space: nowrap;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 30px; 
	padding: 5px;
	border-radius: 5px;
	transform-origin: top left;
	transform: translateX(100%) rotate(90deg) translateY(-100%); 
	background-color: rgba(57, 57, 57, 0.8); 
	color: white;
}

.dark .content_table_right {
	background-color: rgba(57, 57, 57, 0.8); 
	color: white;
}

.content_table_left {
	background-color: white;
	color: black;
	border-width: 2px;
	border-radius: 5px;
	border-color: black;
	border-style: solid;
	height: 100%;
	max-height: 500px;
	display: block;
	padding: 5px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.content_table_left ul {
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.content_table_left_hide {
	display: none;
}

.dark .content_table_left {
	background-color: black;
	color: white;
	border-color: white;
}