body {
	background-color: #000000;
	font-size: 1.1em;
	background-image: url("/assets/images/background2.jpg");
}

.content {
	background-color: #FFFFFF;
	border-color: #000000;
	border: outset;
	border-width: 2px;
	width: 80%;
	margin: auto;
	border-radius: 20px;
	max-width: 1600px;
	min-width: 400px;
	min-height: 700px;
}

.header {
	height: 200px;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: 0%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: #000000;
	background-image: url("/assets/images/200x1600.jpg");
	background-size: cover;
}

.menu {
	margin-left: 2%;
	margin-right: 2%;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	background-color: #CCCC99;
}

.menu_link, .menu_link_selected {
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	height: 30px;
	padding: 5px;
	text-decoration: none;
	font-size: 1.2em;
	background-color: #CCCC99;
	color: #003333;
}
.menu_link:hover, .menu_link_selected:hover {
	text-decoration: underline;
}
/* Комментарий */
.menu_link_selected {
	background-color: #CCFF99;
}
/* Комментарий */
H1 {
	font-size: 1.5em;
}
H2 {
	font-size: 1.3em;
}
H1, H2, P, IMG, LI {
	text-align: justify;
	margin-left: 2%;
	margin-right: 2%;
	line-height: 1.25;
}

@media (min-width: 800px)
{
	.qr_block
	{
		display: flex;
	}
}

@media (max-width: 800px)
{
	.qr_block
	{
		display: inline;
	}
}

img
{
	max-width: 100%
}

PRE, code {
	max-height: 300px;
}

.code {
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 5px;
	background-color: #666666;
}

.code a:link {
  color: #000000;
	text-decoration: none;
}

.code a:visited {
  color: #000000;
	text-decoration: none;
}

.code a:hover {
	color: #000000;
	text-decoration: underline;
}

.code_header {
	margin-bottom: -0.5%;
	font-weight: bold;
	padding: 10px;
}

.code_lines_hide {
	visibility: hidden;
	height: 0px;
}

.code_lines_show {
	visibility: visible;
}

.blog_img {

}
