---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  {% if page.code=="Y" %}
  <!-- https://prismjs.com -->
  <!-- for code highlight -->
  <link href="/assets/css/prism.css" rel="stylesheet" />
  <script src="/assets/js/prism.js"></script>
  <script src="/assets/js/show_hide_code.js"></script>
  {% endif %}
  {% if page.formula=="Y" %}
  <!-- https://www.mathjax.org -->
  <!-- scripts for formulas demonstration -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {% endif %}
  <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
	<div class="content">
    <div class="header">
    </div>
	{% include navigation.html %}
  {{ content }}
	</div>
  </body>
</html>
